
<!-- <div class="row">
  <%= render partial: "shared/tags", collection: @tags %>
</div> -->

<!-- <div id="side_container">
  <div class="side_panel">

<p>
  Hello
</p>

  </div>
</div> -->
<div id="content_container">
  <div class="row">
    <div class="mosaic_container">
      <div class="mosaic_content">

      </div>
    </div>


    <div class="side_container">
      <div class="side">
        <div class="side_content">

          <div id="authorize_section">
            <h3>Connect an Account</h3>
              <ul>
                <li>Instagram</li>
                <li>Twitter</li>
                <li>Facebook</li>
              </ul>
          </div>

          <div id="entry_section">
              <h3>Create New Entry</h3>

              <ul>
                <li>Name of Entry</li>
                <li>Add a User</li>
                <li>Add a Hashtag</li>
                <li>Set Display Ratio</li>
              </ul>
              <br>
              <div class="textaligncenter">
                  <a href="#" class="btn btn-primary">Submit</a>
              </div>
          </div>

          <div id="entry_management">

          </div>

        </div>
      </div>
    </div>

  </div>

</div>
