<div id="content_container">
    <div class="mosaic_content">
      <%= render partial: "shared/tags", collection: @tags %>
      <%= render partial: "shared/accounts", collection: @accounts %>
    </div>
</div>
