
<div id="content_container">

  <div>
    <paper-button paper-drawer-toggle="" raised="" role="button" tabindex="0" animated="" aria-disabled="false" elevation="1" class="x-scope paper-button-0">toggle drawer
      <paper-ripple class="style-scope paper-button">


      <div id="background" class="style-scope paper-ripple" style="opacity: 0.0009;"></div>
      <div id="waves" class="style-scope paper-ripple"></div>
    </paper-ripple>
  </paper-button>
</div>

</div>
